<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.inspect.transaction.single.mapper.TbUserBaseMapper">
    <resultMap id="tbUserBase" type="com.wx.inspect.transaction.single.po.TbUserBasePo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="auth" property="auth" jdbcType="INTEGER"/>
        <result column="is_del" property="isDel" jdbcType="TINYINT"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Columns">
        `id`,
        <include refid="Columns_For_Insert"/>
    </sql>

    <!-- Insert使用字段 -->
    <sql id="Columns_For_Insert">
        `user_name`, `password`, `email`, `auth`, `is_del`, `mobile`, `area`, `create_time`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.wx.inspect.transaction.single.po.TbUserBasePo" useGeneratedKeys="true" keyProperty="id">
        insert into TB_USER_BASE
        (    <include refid="Columns_For_Insert"/>    )
        values(
            #{userName, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, 
            #{auth, jdbcType=INTEGER}, #{isDel, jdbcType=TINYINT}, #{mobile, jdbcType=VARCHAR}, 
            #{area, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into TB_USER_BASE
        (    <include refid="Columns_For_Insert"/>    )
        values
        <foreach collection="list" item="item" separator="," >
            (
                #{item.userName, jdbcType=VARCHAR}, #{item.password, jdbcType=VARCHAR}, 
                #{item.email, jdbcType=VARCHAR}, #{item.auth, jdbcType=INTEGER}, #{item.isDel, jdbcType=TINYINT}, 
                #{item.mobile, jdbcType=VARCHAR}, #{item.area, jdbcType=VARCHAR}, #{item.createTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from TB_USER_BASE
        where `id` = #{id, jdbcType=INTEGER}
    </delete>

    <!-- 根据主键更新非空字段 -->
    <update id="updateByPrimaryKey" parameterType="com.wx.inspect.transaction.single.po.TbUserBasePo">
        update TB_USER_BASE
        <set>
            <if test=" userName != null and userName != '' " >
                `user_name` = #{userName, jdbcType=VARCHAR},
            </if>
            <if test=" password != null and password != '' " >
                `password` = #{password, jdbcType=VARCHAR},
            </if>
            <if test=" email != null and email != '' " >
                `email` = #{email, jdbcType=VARCHAR},
            </if>
            <if test=" auth != null " >
                `auth` = #{auth, jdbcType=INTEGER},
            </if>
            <if test=" isDel != null " >
                `is_del` = #{isDel, jdbcType=TINYINT},
            </if>
            <if test=" mobile != null and mobile != '' " >
                `mobile` = #{mobile, jdbcType=VARCHAR},
            </if>
            <if test=" area != null and area != '' " >
                `area` = #{area, jdbcType=VARCHAR},
            </if>
            <if test=" createTime != null " >
                `create_time` = #{createTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where `id` = #{id, jdbcType=INTEGER}
    </update>

    <!-- 根据主键查询 -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Integer" resultMap="tbUserBase">
        select <include refid="Base_Columns"/>
        from TB_USER_BASE
        where `id` = #{id, jdbcType=INTEGER}
    </select>

    <!-- 根据主键查询 -->
    <select id="queryList" parameterType="com.wx.inspect.transaction.single.po.TbUserBasePo" resultMap="tbUserBase">
        select <include refid="Base_Columns"/>
        from TB_USER_BASE
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=INTEGER}
            </if>
            <if test=" userName != null and userName != '' " >
                AND `user_name` = #{userName, jdbcType=VARCHAR}
            </if>
            <if test=" password != null and password != '' " >
                AND `password` = #{password, jdbcType=VARCHAR}
            </if>
            <if test=" email != null and email != '' " >
                AND `email` = #{email, jdbcType=VARCHAR}
            </if>
            <if test=" auth != null " >
                AND `auth` = #{auth, jdbcType=INTEGER}
            </if>
            <if test=" isDel != null " >
                AND `is_del` = #{isDel, jdbcType=TINYINT}
            </if>
            <if test=" mobile != null and mobile != '' " >
                AND `mobile` = #{mobile, jdbcType=VARCHAR}
            </if>
            <if test=" area != null and area != '' " >
                AND `area` = #{area, jdbcType=VARCHAR}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="com.wx.inspect.transaction.single.po.TbUserBasePo" resultMap="tbUserBase">
        select count(*)
        from TB_USER_BASE
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=INTEGER}
            </if>
            <if test=" userName != null and userName != '' " >
                AND `user_name` = #{userName, jdbcType=VARCHAR}
            </if>
            <if test=" password != null and password != '' " >
                AND `password` = #{password, jdbcType=VARCHAR}
            </if>
            <if test=" email != null and email != '' " >
                AND `email` = #{email, jdbcType=VARCHAR}
            </if>
            <if test=" auth != null " >
                AND `auth` = #{auth, jdbcType=INTEGER}
            </if>
            <if test=" isDel != null " >
                AND `is_del` = #{isDel, jdbcType=TINYINT}
            </if>
            <if test=" mobile != null and mobile != '' " >
                AND `mobile` = #{mobile, jdbcType=VARCHAR}
            </if>
            <if test=" area != null and area != '' " >
                AND `area` = #{area, jdbcType=VARCHAR}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="findUserByName" resultMap="tbUserBase">
        select <include refid="Base_Columns"/>
        from TB_USER_BASE
        where
          is_del=0
          <if test=" userName != null and userName != ''">
              AND `user_name` = #{userName, jdbcType=VARCHAR}
          </if>
    </select>
</mapper>
